{% extends '/home/den/PycharmProjects/my-football-life/users/templates/users/base.html' %}

{% block title %} Новости {% endblock %}

{% block content %}
<style>
    .flex-container {
        display: flex;
        justify-content: space-between;
    }
</style>

<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-8">
            <div class="text-left mt-3">
            <h2>Фильтр новостей</h2>
            <form method="GET" action="{% url 'news:get_news' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="championship">Чемпионат:</label>
                    <select id="championship" name="championship">
                        <option value="">Выберите чемпионат</option>
                        {% for championship in championships %}
                        <option value="{{ championship.name }}" {% if selected_championship == championship.name %}selected{% endif %}>{{ championship.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="tag">Тег:</label>
                    <select id="tag" name="tag">
                        <option value="">Выберите тег</option>
                        {% for tag in tags %}
                        <option value="{{ tag.name }}" {% if selected_tag == tag.name %}selected{% endif %}>{{ tag.name }}</option>
                        {% endfor %}
                    </select>
                </div>

    <button type="submit" class="btn btn-primary">Применить фильтр</button>
</form>
            <div class="text-left mt-3">
                <h2>Новости</h2>
                <ul class="list-group">
                    {% for new in news %}
                    <li class="list-group-item">
                        <div class="container">
                            <div class="flex-container">
                                <div class="item">
                                    <h3>{{ new.title }}</h3>
                                </div>
                                <div class="item">
                                    {% if new.author %}
                                    <h7 align="right">Автор: <a href="{% url 'users:another_profile' profile_id=new.author.profile.id %}">{{ new.author|title }}</a></h7>
                                    {% else %}
                                    <h7 align="right">Автор: Anonimus</h7>
                                    {% endif %}
                                    <div class="form-group">
                                        <ul id="leftchapters">
                                            <li class="selected">Теги:</li>
                                            {% for tag in new.tags.all %}
                                                <li><a href="#">{{ tag.name }}</a></li>
                                            {% endfor %}
                                        </ul>
                                     </div>
                                </div>
                            </div>
                        </div>
                        {% if new.news_sections.first.photo %}
                        <img src="{{ new.news_sections.first.photo.url }}" alt="{{ new.title }}" class="img-fluid" width="600"
                             height="400">
                        {% endif %}
                        <p>{{ new.news_sections.first.content|truncatechars:100|safe }}</p>
                        <div class="container">
                            <div class="flex-container">
                                <div class="item">
                                    <a href="{% url 'news:news_detail' news_id=new.id %}">Подробнее</a>
                                </div>
                                <div class="item">
                                    <h7 align="right">Дата публикации: {{ new.date|date }}</h7>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <div class="pagination justify-content-center">
                    <ul class="pagination">
                        {% if news.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1{% if selected_championship %}&championship={{ selected_championship }}{% endif %}">&laquo; Первая</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ news.previous_page_number }}{% if selected_championship %}&championship={{ selected_championship }}{% endif %}">Предыдущая</a>
                        </li>
                        {% endif %}


                        <li class="page-item disabled">
                            <span class="page-link">Страница {{ news.number }} из {{ news.paginator.num_pages }}</span>
                        </li>

                        {% if news.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ news.next_page_number }}{% if selected_championship %}&championship={{ selected_championship }}{% endif %}">Следующая</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ news.paginator.num_pages }}{% if selected_championship %}&championship={{ selected_championship }}{% endif %}">Последняя &raquo;</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}


