{% extends '/home/den/PycharmProjects/my-football-life/users/templates/users/base.html' %}

{% block title %} Чемпионат {{ championship.name }} {% endblock %}

{% block content %}
    <title>{{ championship.name }}</title>

<body>
    <h1>Турнирная таблица: {{ championship.name }}  <img src="{{ championship.emblem }}" alt="Emblem" width="70", height="70"></h1>
    <table border="1" style="width: 70%">
        <thead>
            <tr>
                <th>Позиция</th>
                <th></th>
                <th>Команда</th>
                <th>Сыгранно игр</th>
                <th>Победы</th>
                <th>Ничьи</th>
                <th>Поражения</th>
                <th>Очки</th>
                <th>Голов забито</th>
                <th>Голов пропущено</th>
                <th>Разница мячей</th>
            </tr>
        </thead>
        <tbody>
            {% for standing in standings %}
            <tr>
                <td>{{ standing.position }}</td>
                <td> <img src="{{ standing.team.crest_url }}" alt="Emblem" width="30", height="30"> </td>
                <td>{{ standing.team.name }}</td>
                <td>{{ standing.played_games }}</td>
                <td>{{ standing.wins }}</td>
                <td>{{ standing.draws }}</td>
                <td>{{ standing.losses }}</td>
                <td>{{ standing.points }}</td>
                <td>{{ standing.goals_for }}</td>
                <td>{{ standing.goals_against }}</td>
                <td>{{ standing.goal_difference }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="row mt-3">
        <div class="col text-left">
            <a href="{% url 'leagues_and_teams:list_championship_games' championship_name=championship.name %}" class="btn btn-primary">Матчи следующего тура</a>
        </div>
        <div class="col text-right">
            <a href="{% url 'leagues_and_teams:preview' championship_name=championship.name %}" class="btn btn-primary">Превью к следующему туру</a>
        </div>
    </div>
</body>

{% endblock %}

