{% extends '/home/den/PycharmProjects/my-football-life/users/templates/users/base.html' %}

{% block content%}
    <title>Все матчи</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-5 mb-4">Список матчей</h1>
        <ul class="list-group">
            {% for match in matches %}
                <li class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col-4 text-right">
                            <img src="{{ match.homeTeam.crest }}" alt="Emblem" width="30" height="30">
                            <strong>{{ match.homeTeam.name }}</strong>
                        </div>
                        <div class="col-4 text-center">
                            <strong>против</strong><br>
                            <span class="text-muted">{{ match.utcDate }}</span><br>
                            <span class="text-muted">Счёт: {{ match.score.fullTime.home }} - {{ match.score.fullTime.away }}</span>
                        </div>
                        <div class="col-4 text-left">
                            <strong>{{ match.awayTeam.name }}</strong>
                            <img src="{{ match.awayTeam.crest }}" alt="Emblem" width="30" height="30">
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>

{% endblock %}









