{% extends '/home/den/PycharmProjects/my-football-life/users/templates/users/base.html' %}

{% block content%}
    <title>Список матчей</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-5 mb-4">Список матчей</h1>
        <ul class="list-group">
            {% for match in matches %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-4 text-right">
                            <img src="{{ match.home_team.crest_url }}" alt="Emblem" width="50" height="50">
                            <strong>{{ match.home_team.name }}</strong>
                        </div>
                        <div class="col-4 text-center">
                            <strong>против</strong><br>
                            <span class="text-muted">{{ match.date }}</span><br>
                            <span class="text-muted">Счёт: {{ match.home_goals }} - {{ match.away_goals }}</span>
                        </div>
                        <div class="col-4 text-left">
                            <strong>{{ match.away_team.name }}</strong>
                            <img src="{{ match.away_team.crest_url }}" alt="Emblem" width="50" height="50">
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
{% endblock %}















