{% extends '/home/den/PycharmProjects/my-football-life/users/templates/users/base.html' %}

{% block content%}

- Аугсбург не выигрывает уже в пяти матчах Бундеслиги подряд и проиграл две последние игры.

- Аугсбург уже пять раз проигрывал в этом сезоне, несмотря на то, что вел в счете – больше, чем любая другая команда.

- В осеннем матче «Штутгарт» выиграл у «Аугсбурга» со счетом 2:1. Вальдемар Антон забил победный гол в дополнительное время. «Штутгарт» нанес в том матче 31 удар по воротам гостей. Ни в одной другой игре «Аугсбург» не допускал такого количества ударов по своим воротам.

- Энрико Маассен: «Штутгарт» в последнее время добился положительных результатов. Это всегда важно. Особенно, когда приходит новый тренер. Это хорошая команда, это было видно на протяжении всего сезона. В Лейпциге мы показали действительно хорошую игру. Конечно, сейчас для нас важно, чтобы мы снова набрали очки, лучше три».

- Себастьян Хенесс: «У «Аугсбурга» есть четкая идея. Они пытаются сразу оказать давление на игрока с мячом. Они агрессивны, неудобны — особенно дома. Я с нетерпением жду матча. В пятницу вечером будет жаркий танец».

{% endblock %}

