{% extends 'users/base.html' %}

{% block title %}Профиль {{ another_user.username }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <ul class="messages">
        {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
        {% endfor %}
    </ul>
    <h2 class="mb-4">Профиль {{ another_user.username }}</h2>

    <div class="row mt-4">
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item"><strong>Имя:</strong> {{ another_user.first_name }}</li>
                <li class="list-group-item"><strong>Фамилия:</strong> {{ another_user.last_name }}</li>
                <li class="list-group-item"><strong>Email:</strong> {{ another_user.email }}</li>
                <li class="list-group-item"><strong>Дата рождения:</strong> {{ profile.birthday|date }}</li>
                <li class="list-group-item"><strong>Номер телефона:</strong> {{ profile.phone_number }}</li>
                <li class="list-group-item"><strong>О себе:</strong> {{ profile.bio }}</li>
            </ul>
        </div>
        {% endblock %}